* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  font-weight: 400;
}

.image {
  max-width: 100%;
  height: auto;
}

/* Flex Grid */

.container {
  max-width: 992px;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
}
.col {
  /*border: 1px solid red;*/
  flex: 1;
}

/* Nav Effect */

*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar a {
	padding: 8px 0;
  position: relative;
}

.navbar a::after {
	position: absolute;
	top: 85%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(255,255,255,0.6);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.navbar a:hover::after,
.navbar a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Base */

body {
  color: #fff;
  background: #333;
  font-family: 'Marcellus SC', serif;
  text-align: center;
  font-size: 16px;
}

.wrap {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.input,
.textarea,
button[type="submit"] {
  font-size: inherit;
  font-family: 'Marcellus SC', serif;
}

.listen,
.reviews,
.tour,
.contact,
footer {
  padding: 5%;
}

/* Elements */

a {
  color: #fff;
  text-decoration: none;
}

/* Header */

nav {
  background: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

.opaque {
  background: rgba(127,78,133,0.5);
}

.navbar {
  max-width: 992px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1%;
}

.nav-item {
  list-style: none;
  display: flex;
  padding: .75% 2%;
}
.nav-item a {
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
}

.nav-item a:hover {
  text-shadow: 0px 0px 100px #F78DC6;
}

#hero {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('../img/bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: auto;
}

.new-dawn {
  max-width: 80%;
  margin: 0 auto;
  color: #BDBDBD;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-dawn h1 {
  font-size: 3.5rem;
}

.new-dawn h2 {
  font-size: 2rem;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 70%;
  max-width: 500px;
}

.social-icon {
  color: #BDBDBD;
  padding: 10%;
  cursor: pointer;
}

.social-icon:hover {
  color: #fff;
}

/* Sections */

.reviews,
.contact {
  background: #7F4E85;
}

.listen,
.tour {
  box-shadow: inset 0 8px 6px -6px black;
}

.reviews,
.contact {
  box-shadow: 0 -8px 6px -6px black;
}

section h2 {
  font-size: 1.8rem;
}

.video {
  padding: 5% 0;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.buy {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
}

.buy .col {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 0;
}

.icon {
  width: 100px;
  height: 100px;
  background: #7F4E85;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop p {
  margin: 5% 0;
}

.itunes {
  width: 80px;
  height: 80px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reviews .flex-grid {
  flex-direction: column;
  margin-top: 5%;
}

.reviews .col {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 30px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #333;
  font-size: 1.3rem;
  box-shadow: inset 0 2px 0 rgba(188,147,200,0.7), -5px -4px 25px rgba(0,0,0,0.3);
  position: relative;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

blockquote p {
  text-indent: 80px;
  padding: 2% 0;
}

blockquote strong {
  margin-left: auto;
}

blockquote:before {
  content: '\201C';
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  font-size: 175px;
  top: -60px;
  left: 5px;
  color: rgba(188, 147, 200, 1);
  text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}

#bit-widget-0 {
  margin-top: 2%;
}


/* Form */

.form {
  margin: 5%;
}

form,
#form-messages {
  max-width: 500px;
  margin: 2% auto;
}

input,
textarea,
button[type="submit"] {
  width: 100%;
  padding: 2%;
  border-radius: 3px;
}

input,
textarea {
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #ccc;
}

button[type="submit"] {
  color: #fff;
  background: #333;
  cursor: pointer;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  border-radius: 4px;
}

/* Media Queries */
@media screen and (max-width: 992px) {

  .flex-grid {
    display: block;
  }

  .buy .col {
    max-width: 500px;
  }

  .buy .col:first-of-type {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 992px) {

  .navbar {
    padding: 0;
  }

  .reviews .col {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  footer {
    padding: 2%;
  }

}
